.shimmer-text {
  background: linear-gradient(90deg,
      var(--accent) 45%,
      rgb(235, 215, 191) 50%,
      var(--accent) 65%);
  background-size: 200% 100%;
  background-position: 0% 0;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer-text 4s infinite linear;
}

@keyframes shimmer-text {
  to {
    background-position: -200% 0;
  }
}

.text-glow {
  text-shadow:
    0 0 4px #fff,
    0 0 10px var(--accent),
    0 0 20px var(--accent),
    0 0 40px var(--accent),
    0 0 80px var(--accent),
    0 0 120px var(--accent),
    0 0 160px var(--accent);
}

.card-glow {
  box-shadow:
    0 0 5px var(--accent),
    0 0 15px var(--accent),
    0 0 30px var(--accent),
    0 0 50px var(--accent);
}

.liquid-glass {
  background: rgba(27, 30, 35, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(27, 30, 35, 0.3);
}