.footer {
  font-size: var(--font-size-responsive);
  position: absolute;
  bottom: 7%;
  left: 2%;
}

.skills-footer.footer{
  position: relative;
  display: block;
  width: 100%;
}

.hero-footer-content {
  display: flex;
  justify-content: space-between;
  background-color: #3489f84d;
  width: 100%;
  height: 30%;
  align-items: center;
  padding: 1rem 5%;

  p{
    font-size: var(--font-size-smtext );
  }
}

.footer.hero-footer {
  min-width: 100%;
  left: 0%;
  bottom: 0%;
  height: 10%;
  background-color: var(--bg-primary);
}