.footer{
    font-size: var(--font-size-smtext);
    position: absolute;
    bottom: 7%;
    left: 2%;
}

.footer.hero-footer{
    background-color: rgba(22, 62, 114, 0.3);
    min-width: 100%;
    left: 0%;
    padding: 0.5rem 2%;
}