:root {
  --bg-primary: #1b1e23;
  --bg-secondary: #232730;

  --font-size-title: 4.8rem;
  --font-size-subtitle: 3.2rem;
  --font-size-text: 2.4rem;

  --text-primary: #ebd7bf;
  --text-secondary: #fff3e6;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  --accent: rgba(235, 215, 191, 0.2);
  --border-color: rgba(235, 215, 191, 0.2);
  --border-radius: 2rem;

  --font-primary: "Archivo Black", sans-serif;
  --font-code: "Courier Prime", monospace;
}
