.projects-interface {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.projects-content {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: clamp(4rem, 50vw, 20rem);
}

.projects-tree ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: var(--font-size-subtitle);
  position: relative;
  padding: 0rem 2rem;

  li {
    position: relative;
  }
}

.projects-tree ul::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 2rem;
  width: 4px;
  background-color: var(--text-primary);
}

.projects-tree ul li::before {
  content: "";
  position: absolute;
  width: 2.4rem;
  top: 41%;
  left: -20px;
  height: 4px;
  background-color: var(--text-primary);
}

.projects-tree ul li:hover {
  display: inline;
  text-shadow:
    0 0 4px #fff,
    0 0 10px var(--accent),
    0 0 20px var(--accent),
    0 0 40px var(--accent),
    0 0 80px var(--accent),
    0 0 120px var(--accent),
    0 0 160px var(--accent);
  cursor: pointer;
}

.projects-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
}

.project-info {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: var(--font-size-smtext);
}

.project-image {
  width: clamp(32rem, 50vw, 50rem);
  height: clamp(20rem,50vw,30rem);
  position: relative;
}

.project-photo {
  object-fit: fill;
  object-position: center;
  width: 100%;
  height: 100%;
}

.project-description {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.project-photo:hover {
  filter: brightness(0.5);
  cursor: pointer;
}

.project-photo:hover ~ .project-description {
  transition: opacity 0.7s ease;
  opacity: 1;
  z-index: 3;
  font-size: var(--font-size-smtext);
  padding: 3rem 2rem 0rem 2rem;
  text-align: center;
}
