.services {
  border: 1px solid wheat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-start {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-smtext);

  span:hover {
    cursor: pointer;
  }
}

.service-card {
  width: clamp(30rem, 90vw, 70rem);
  height: 42rem;
  border: 1px solid var(--accent);
  border-radius: 2rem;
  background-color: rgba(58, 85, 120, 0.1);
}

.card-content-service {
  display: flex;
  padding: clamp(1rem, 2vw, 3rem);
  gap: clamp(1rem, 5vw, 5rem);
  border-bottom: 1px solid var(--accent);
  width: 100%;
  height: 100%;
}

.service-frame {
  width: 30rem;
  height: 20rem;
}

.services-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: var(--font-size-smtext);
  width: 30rem;
}

.service-options {
  font-size: clamp(var(--font-size-smtext), 2vw, 2rem);
}

.service-options li {
  opacity: 0.7;
}
.service-options li:hover {
  text-shadow:
    0 0 4px #fff,
    0 0 10px var(--accent),
    0 0 20px var(--accent),
    0 0 40px var(--accent),
    0 0 80px var(--accent),
    0 0 120px var(--accent),
    0 0 160px var(--accent);
  cursor: pointer;
  opacity: 1;
}

.service-options li:hover::before {
  position: absolute;
  content: ">";
  font-weight: 900;
  transform: translateX(-1.5rem);
}

.service-options li.selected {
  text-shadow:
    0 0 4px #fff,
    0 0 10px var(--accent),
    0 0 20px var(--accent),
    0 0 40px var(--accent),
    0 0 80px var(--accent),
    0 0 120px var(--accent),
    0 0 160px var(--accent);
  opacity: 1;
}

.service-options li.selected::before{
  position: absolute;
  content: ">";
  font-weight: 900;
  transform: translateX(-1.5rem);
}