@font-face {
  font-family: "JetBrains";
  font-display: swap;
  src: url("../assets/fonts/JetBrains/JetBrainsMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Archivo Black";
  src: url("../assets/fonts/Archivo_Black/ArchivoBlack-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}
