* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
    border: none;
    background: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    min-height: 100vh;
}