@media(max-width: 768px){
    .hero-image{
        top: 60%  ;
    }

    .projects-content{
        flex-direction: column;
    }

    .projects-footer{
        p{
            position: absolute;
            bottom: 0rem;
        }
    }

    .hero-system{
        span{
            position: absolute;
            top: -2rem;
        }
    }

    .projects-tree{
        order: 1;
    }

    .projects-content{
        align-items: center;
    }

    .skills-container .skills-card{
        height: auto;
    }

}

